<?xml version="1.0"?>
<appSettings>
	<add key="EmailsFrom" value="github@avispl.com" />
	<add key="EmailsFromName" value="GitHub (AVI-SPL)" />

	<add key="EmailsTo" value="ryan.laneve@gmail.com,gcox18@gmail.com" />

	<add key="EmailsReplyTo" value="applicationsdevelopment@avispl.com" />
	<add key="EmailsReplyToName" value="App Dev" />
</appSettings>